   <form>
        <img src="{{chatPic}}" class="chat-pic"></img>
        <div class="auth-row">
            {{{inputLogin}}}
        </div>
        <div class="auth-row">
            {{{inputPassword}}}
        </div>
        <div class="auth-row">
            {{{signInButton}}}
            {{{signUpButton}}}
        </div>

    </form>
