   <form>
        <img src="{{chatPic}}" class="chatPic"></img>
        <div class="auth_row">
            {{{inputLogin}}}
        </div>
        <div class="auth_row">
            {{{inputPassword}}}
        </div>
        <div class="auth_row">
            {{{signInButton}}}
            {{{signUpButton}}}
        </div>

    </form>