<form>
    <h2>Регистрация</h2>
    {{{emailInput}}}
    {{{loginInput}}}
    {{{firstNameInput}}}
    {{{secondNameInput}}}
    {{{phoneInput}}}
    {{{passwordInput}}}
    {{{repeatPasswordInput}}}
    <div>
        {{{saveButton}}}
        {{{cancelButton}}}
    </div>
</form>
