<a href="/settings">Перейти в профиль</a>
{{#each chatItems}}
<div class="chat-item">
        <label>{{chatName}}</label><br/>
        <span>{{lastMessageSender}}:</span>
        <span>{{lastMessageText}}</span>
</div>
<hr />
{{/each}}
{{{addChatButton}}}
{{{addChatDialog}}}
