<div class="user-container">
    <div class="short-user">
        <img src="{{avatar}}"/>
        <span>{{firstName}} {{secondName}}</span>
        <span>|</span>
        <span>{{displayName}}</span>
        <span>|</span>
        <span>@{{login}}</span>
    </div>
    {{{addButton}}}
</div>
