<h2>Профиль</h2>
{{{avatar}}}
{{{changeAvatarDialog}}}
<form id="profileForm">
    <div>
        {{{emailInput}}}
        {{{loginInput}}}
        {{{firstNameInput}}}
        {{{secondNameInput}}}
        {{{displayNameInput}}}
        {{{phoneInput}}}
        {{{passwordInput}}}
    </div>
</form>
<div class="button-container">
    {{{saveButton}}}
    {{{changePasswordButton}}}
    {{{changePasswordDialog}}}
    {{{cancelButton}}}
    {{{logOutButton}}}
</div>
