    <form>
        <div class="div_center">
            <h2>Профиль</h2>
            <img src="{{userPic}}" class="userPic"></img>
            <div>
                <label for="email">Почта</label>
                <input name="email" type="text" value="{{email}}"/>
            </div>
             <div>
                <label for="login">Логин</label>
                <input name="login" type="text" value="{{login}}"/>
            </div>
            <div>
                <label for="name">Имя</label>
                <input name="name" type="text" value="{{name}}"/>
            </div>         
            <div>
                <label for="surname">Фамилия</label>
                <input name="surname" type="text" value="{{surname}}"/>
            </div>
            <div>
                <label for="phone">Телефон</label>
                <input name="phone" type="text" value="{{phone}}"/>
            </div>  
            <div>
            <label for="password">Пароль</label>
                <input name="password" type="password" value="{{password}}"/>
            </div> 
            <div>
            <div>
                <button type="submit">Сохранить данные</button>
                <button>Назад</button>
            </div>  
        </div>
    </form>