  <form>
        <h2>Профиль</h2>
        <img src="{{userPic}}" class="user-pic"></img>
        {{{emailInput}}}
        {{{loginInput}}}
        {{{firstNameInput}}}
        {{{secondNameInput}}}
        {{{phoneInput}}}
        {{{passwordInput}}}
        <div>
            {{{saveButton}}}
            {{{cancelButton}}}
        </div>
    </form>
