<h2>Профиль</h2>
<form>
    <div>
        {{{emailInput}}}
        {{{loginInput}}}
        {{{firstNameInput}}}
        {{{secondNameInput}}}
        {{{displayNameInput}}}
        {{{phoneInput}}}
        {{{passwordInput}}}
    </div>
</form>
<div class="button-container">
    {{{saveButton}}}
    {{{cancelButton}}}
    {{{logOutButton}}}
</div>
