<div class="chat-header">
    
    {{#if chatName}}
    <b>{{chatName}}</b>
    {{{addUsersButton}}}
    {{{addUsersDialog}}}
    {{{removeUsersButton}}}
    {{{removeUsersDialog}}}
    {{/if}}
</div>
